body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 50px;
}
.highLightName{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
p{
    color: black;
    width: 800;
}

.half-width img{
    width: 100%;
}